<form class="masthead-controls" ng-submit="updateMovies()">
    <fieldset>
        <legend class="isVisuallyHidden">Control how movies are listed.</legend>

        <label class="isVisuallyHidden" for="sort">Sort Movies</label>
        <select class="js-sort" name="sort" id="sort" ng-model="displayOptionsTemporary.movieSort">
            <option value="-criticsScore">Critics Score Descending</option>
            <option value="criticsScore">Critics Score Ascending</option>
            <option value="-audienceScore">Audience Score Descending</option>
            <option value="audienceScore">Audience Score Ascending</option>
            <option value="-releaseDate">Most Recent Theater Date</option>
            <option value="releaseDate">Oldest Theater Date</option>
        </select>

        <label class="isVisuallyHidden" for="limit">Limit number of movies</label>
        <select name="limit" id="limit" ng-model="displayOptionsTemporary.moviesLimit">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
        </select>

        <input type="submit" class="js-update" value="update" />
    </fieldset>
</form> <!-- END masthead-controls -->